<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<style>
	a{
		display:block;
	}
</style>


<title>Index 페이지 입니다.</title>
</head>
<body>
<!-- Ctrl + ALT + 아래화살표 = 복사 -->
<a href="/ajax-ex-01">01. _get 요청하기 </a>
<a href="/ajax-ex-02">02. _post 요청하기 </a>

<a href="/ajax-ex-03">03. _get & parameter 전달하기 </a>
<a href="/ajax-ex-04">04. _post & parameter 전달하기 </a>

<!-- @ModelAttribute 는 생략이 가능한데 기본값을 생략하지 않는다. -->
<a href="/ajax-ex-05">05. _get & parameter DTO로 받기 (@ModelAttribute) & DTO 객체 리턴하기 </a>
<a href="/ajax-ex-06">06. _post & parameter DTO로 받기 (@ModelAttribute) & DTO 객체 리턴하기 </a>
<!-- 자바객체로 보내면 @ModelAttribute로 받고 JSON형식이라고 선언 후 보내면 @RequestBody로 받는다. -->
<a href="/ajax-ex-07">07. _post 요청시 & parameter DTO로 받기 (@RequestBody) & DTO 객체 리턴하기 </a>
<a href="/ajax-ex-08">08. _post 요청시 & parameter 전달하기 & List 객체로 리턴하기 </a>
<a href="/ajax-ex-09">09. _post 요청시 & parameter 전달하기 & ResponseEntity에 DTO 객체 리턴 </a>
<a href="/ajax-ex-10">10. _post 요청시 & parameter 전달하기 & ResponseEntity에 List 객체 리턴 </a>

<!-- <실습> -->
<a href="/ajax-lab">Ajax-LAB</a>

</body>
</html>